@tailwind base;
@tailwind components;
@tailwind utilities;
@import "react-pdf/dist/esm/Page/AnnotationLayer.css";
@import "react-pdf/dist/esm/Page/TextLayer.css";
body {
  background-color: black;
  overflow-x: hidden;
}

::selection {
  background: rgba(74, 222, 128, 0.2);
  color: #4ade80;
}

